
@{
    ViewBag.Title = "Index";
}

@using (@Html.BeginForm("returnAPage","SampleData"))
{
    @Html.TextBox("HiveQL", "SELECT * FROM sample_08 LIMIT 100;", new { style = "width:950px" })
    <input type="submit" value="Run Query" />
}

<h2>Sample Hive Data returned from following query</h2>
<pre>
   @Model.HiveQl
</pre>

<table border="1">
    <thead>
        <tr>
            @foreach (System.Data.DataColumn col in Model.dt.Columns)
            {
                <th>@col.Caption</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.dt.Rows)
        {
            <tr>
                @foreach (var cell in row.ItemArray)
                {
                    <td>@cell.ToString()</td>
                }
            </tr>
        }
    </tbody>
</table>
